
<!DOCTYPE html>
<html ng-app="my-app">
<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered">
      <thead>
      <th>Street</th>
      <th>City</th>
      <th>Zip</th>
      <th>State</th>
      <th>Beds</th>
      <th>Baths</th>
      <th>Sq__ft</th>
      <th>Type</th>
      <th>Sale Date</th>
      <th>Price</th>
      <th>Latitude</th>
      <th>Longitude</th>
      </thead>

      <tr *ngFor="let transaction of transactions">
        <td>
          <span *ngIf="!transaction.editable">{{transaction.street}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.street" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.city}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.city" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.zip}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.zip" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.state}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.state" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.beds}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.beds" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.baths}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.baths" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.Sq__ft}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.Sq__ft" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.type}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.type" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.sale_date}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.sale_date" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.price}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.price" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.latitude}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.latitude" *ngIf="transaction.editable"/>
        </td>
        <td>
          <span *ngIf="!transaction.editable">{{transaction.longitude}}</span>
          <input type="text" class="form-control" [(ngModel)]="transaction.longitude" *ngIf="transaction.editable"/>
        </td>
        <td><button class="btn btn-primary" (click)="editTransaction(transaction)">Edit</button></td>
      </tr>
    </table>
    <td><button class="btn btn-primary" (click)="bulkUpdate(transactions)">Update</button></td>
  </div>
</div>
</html>


